@mixin flex-display($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction; //row | column | row-reverse | column-reverse |initial | inherit
  align-items: $align; //flex-start | flex-end | center | baseline | stretch;
  justify-content: $justify; //flex-start | flex-end | center | space-between | space-around;
  box-sizing: border-box;
}
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin card-theme(
  $background-color,
  $card-title-color,
  $card-text-color,
  $border: none
) {
  .card-body {
    padding: 1em;
    background-color: $background-color;
      border: $border;
    box-sizing: border-box;
    .card-title {
      color: $card-title-color;
      font-family: "Helvetica";
      font-size: 1.6em;
      padding: 1em;
    }
    .card-text {
      color: $card-text-color;
      font-family: "Eurostile";
      min-height: 4em;
    }
    .anchor {
      color: $card-title-color;
      bottom: 1em;
      right: 1em;
      font-size: 2em;
    }
  }
}
